
.month-view-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
}

.month-view-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
}

.month-view-item:hover {
    background-color: var(--color-base-50);
}

.month-view-item-selected {
    background-color: var(--color-blue);
}

.month-view-item-selected:hover {
    background-color: var(--color-blue);
}

.month-view-non-current-month-item {
    opacity: 0.2;
}

.month-view-item-body {
    font-size: 16px;
    font-weight: bold;
}

.month-view-item-body-selected {
    color: var(--color-base-100);
}

.month-view-day-item-body-today {
    color: var(--color-blue);
}

.month-view-day-item-sup {
    font-size: 10px;
    font-weight: normal;
}

.month-view-day-item-sup-working-day {
    color: var(--color-red);
}

.month-view-day-item-sup-rest-day {
    color: var(--color-green);
}

.month-view-day-item-footer {
    font-size: 12px;
}

.month-view-day-item-footer-selected {
    color: var(--color-base-100);
}

.month-view-day-item-footer-important {
    color: var(--color-blue);
}

.month-view-day-item-footer-non-current-month {
    opacity: 0.2;
}


.calendar-view-body {
    width: 100%;
    padding-top: 15px;;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.calendar-view-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
}

.calendar-view-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
}

.calendar-view-dot {
    height: 5px;
    width: 5px;
    background-color: var(--color-base-100);
    margin-bottom: 2px;
    border-radius: 50%;
}

.calendar-view-no-dot {
    height: 5px;
    width: 5px;
    margin-bottom: 2px;
    border-radius: 50%;
}

.enable-label {
    border-width: 3px;
    border-start-start-radius: 4px;
    border-color: var(--color-base-50);
    padding: 0 6px 0 6px;
}

.disable-label {
    border-width: 1px 1px 1px 0;
    border-radius: 0 10% 0 10%;
    border-color: var(--color-base-50);
    padding: 0 6px 0 6px;
}

.circular-label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

.d-hover-bold:hover {
    font-weight: bold;
}

.d-color-blue {
    color: var(--color-blue);
}

.d-hover-color-blue:hover {
    color: var(--color-blue);
}

.d-color-green {
    color: var(--color-green);
}

.d-hover-color-green:hover {
    color: var(--color-green);
}

.d-color-red {
    color: var(--color-red);
}

.d-hover-color-red:hover {
    color: var(--color-red);
}

.d-color-base-100 {
    color: var(--color-base-100);
}

.d-bg-color-blue {
    background-color: var(--color-blue);
}

.d-hover-bg-color-blue:hover {
    background-color: var(--color-blue);
}

.d-bg-color-base-00 {
    background-color: var(--color-base-00);
}

.d-bg-color-base-10 {
    background-color: var(--color-base-10);
}

.d-bg-color-base-50 {
    background-color: var(--color-base-50);
}

.d-hover-bg-color-base-50:hover {
    background-color: var(--color-base-50);
}

.d-bg-color-base-100 {
    background-color: var(--color-base-100);
}

.d-icon {
    width: 1em;
    height: 1em;
}

