.month-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.month-view-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
}

.month-view-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
}

.month-view-item:hover {
    background-color: var(--color-base-50);
}

.month-view-item-selected {
    background-color: var(--color-blue);
}

.month-view-item-selected:hover {
    background-color: var(--color-blue);
}

.month-view-non-current-month-item {
    opacity: 0.2;
}

.month-view-item-body {
    font-size: 16px;
    font-weight: bold;
}

.month-view-item-body-selected {
    color: var(--color-base-100);
}

.month-view-day-item-body-today {
    color: var(--color-blue);
}

.month-view-day-item-sup {
    font-size: 10px;
    font-weight: normal;
}

.month-view-day-item-sup-working-day {
    color: var(--color-red);
}

.month-view-day-item-sup-rest-day {
    color: var(--color-green);
}

.month-view-day-item-footer {
    font-size: 12px;
}

.month-view-day-item-footer-selected {
    color: var(--color-base-100);
}

.month-view-day-item-footer-important {
    color: var(--color-blue);
}

.month-view-day-item-footer-non-current-month {
    opacity: 0.2;
}

.month-view-dot {
    height: 5px;
    width: 5px;
    background-color: var(--color-base-100);
    border-radius: 50%;
    /*align-self: center;*/
    /*display: inline-block;*/
}

.month-view-no-dot {
    font-size: 2px;
}